= link_to "Pie", keeper_pie_chart_path, class: 'btn btn-inverse'
= link_to "String stats", keeper_stringstats_path, class: 'btn btn-inverse'
= link_to t('.entries', :default => t("helpers.links.entries")), keeper_entries_path, :class => 'btn btn-info'
#highchart-container-cumulative