= link_to "Cumulative", keeper_cumulative_graph_path, class: 'btn btn-inverse'
= link_to "String stats", keeper_stringstats_path, class: 'btn btn-inverse'
= link_to t('.entries', :default => t("helpers.links.entries")), keeper_entries_path, :class => 'btn btn-info'
#highchart-container-pie